/* Poppins Font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
/* Hind Shiliguri Bangla Font */
@import url("https://fonts.googleapis.com/css2?family=Hind+Siliguri&display=swap");
/* General Styles */
body {
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
}

.news-card p {
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.text-bangla {
  font-family: "Hind Siliguri", sans-serif;
}
